@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter/Inter-VariableFont.ttf");
}
$comp: 'path', 'rect', 'circle';
@layer components {
    @each $i in $comp {
        .svg-icon #{$i}:not([stroke]):not([fill="none"]),
        .svg-icon #{$i}[fill]:not([fill="none"]) {
            @apply fill-current;
        }
        .svg-icon #{$i}[stroke]:not([stroke="none"]) {
            @apply stroke-current;
        }
    }
}

html, body, #root {
    height: 100%;
}

body {
    @apply bg-[#141414];
}